/* TODO */
@import "~bootstrap/dist/css/bootstrap.css";

.jumbotron{
    background-image: url('https://images.unsplash.com/photo-1574970324184-746b18c8bd49?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=1950&q=80');
    background-position: 0 -300px;
    color: white;
  }
  
  footer{
    background: black; 
  }